body{
    background-color: #222;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table{
    background-color: #222;
    width: 100%;
}
tbody, td, tfoot, th, thead{
    border-color: #212529;
    border-style: solid;
    border-width: 4px;
    border-color:#222;
}
@media(max-width:500px){
    .display .w-75{
    width: 100%!important;
}
}
@media(max-width:450px){
table{
    font-size: 11px;
}
}


